In [ ]:
import pandas as pd

def get_list(column_name):
    # Path to the CSV file
    csv_path = './retail_sales_dataset.csv'

    try:
      # Read the CSV file into a DataFrame
      df = pd.read_csv(csv_path)

      # Check if the specified column exists in the DataFrame
      if column_name in df.columns:
        # Return the column data as a list
        return df[column_name].tolist()
      else:
        # If the column does not exist, raise an error
        raise ValueError("Column name not found in the DataFrame")
    except Exception as e:
      # Print any error that occurs during the process
      print(f"An error occurred: {e}")

In [ ]:
Transaction_ID = get_list("Transaction ID")
date = get_list("Date")
Customer_ID = get_list("Customer ID")
Gender = get_list("Gender")
Age = get_list("Age")
Product_Category = get_list("Product Category")
Quantity = get_list("Quantity")
prices_per_unit = get_list("Price per Unit")
Total_Amount = get_list("Total Amount")

In [ ]:
# print the first element of each list
print("Transaction_ID", Transaction_ID[0])
print("date", date[0])
print("Customer_ID", Customer_ID[0])
print("Gender", Gender[0])
print("Age", Age[0])
print("Product_Category", Product_Category[0])
print("Quantity", Quantity[0])
print("prices_per_unit", prices_per_unit[0])
print("Total_Amount", Total_Amount[0])

Transaction_ID 1
date 2023-11-24
Customer_ID CUST001
Gender Male
Age 34
Product_Category Beauty
Quantity 3
prices_per_unit 50
Total_Amount 150

In [ ]:
# Exercise 1: Number of observations
# Use the next cell to find the length of the list Transaction_ID. Save it in the variable num_observations.

num_observations = len(Transaction_ID)
print(num_observations)

1000

In [ ]:
# Print the length of all the items in the list


print("Transaction_ID: ", len(Transaction_ID))
print("date: ", len(date))
print("Customer_ID: ", len(Customer_ID))
print("Gender: ", len(Gender))
print("Age: ", len(Age))
print("Product_Category: ", len(Product_Category))
print("Quantity: ", len(Quantity))
print("prices_per_unit: ", len(prices_per_unit))
print("Total_Amount: ", len(Total_Amount))

Transaction_ID:  1000
date:  1000
Customer_ID:  1000
Gender:  1000
Age:  1000
Product_Category:  1000
Quantity:  1000
prices_per_unit:  1000
Total_Amount:  1000

In [ ]:
# Print the types of the variables `Transaction_ID` and `Gender`.

print("Transaction_ID:", type(Transaction_ID))
print("Gender:", type(Gender))

Transaction_ID: <class 'list'>
Gender: <class 'list'>

In [ ]:
# Print the type of the first element of each list.

print("Transaction_ID:", type(Transaction_ID[0]))
print("date:", type(date[0]))
print("Customer_ID:", type(Customer_ID[0]))
print("Gender:", type(Gender[0]))
print("Age:", type(Age[0]))
print("Product_Category:", type(Product_Category[0]))
print("Quantity:", type(Quantity[0]))
print("prices_per_unit:", type(prices_per_unit[0]))

Transaction_ID: <class 'int'>
date: <class 'str'>
Customer_ID: <class 'str'>
Gender: <class 'str'>
Age: <class 'int'>
Product_Category: <class 'str'>
Quantity: <class 'int'>
prices_per_unit: <class 'int'>

In [ ]:
# Define a variable highest_price and use an appropriate function to find the maximum price.
# Define a variable lowest_price and use an appropriate function to find the minimum price.
# Define a variable called `price_range` and calculate the difference between the highest and the lowest price.

highest_price = max(prices_per_unit)
lowest_price = min(prices_per_unit)
price_range = highest_price - lowest_price

print("Highest price :" , highest_price)
print("Lowest price:", lowest_price)
print("price range:", price_range)

Highest price : 500
Lowest price: 25
price range: 475

In [ ]:
# Total number of units sold and save it in the variable total_units_sold

total_units_sold = sum(Quantity)
print("Total units sold:", total_units_sold)

Total units sold: 2514

In [ ]:
# Adding elements to the lists

Transaction_ID.append(1001)
date.append("2023-08-01")
Customer_ID.append("1001")
Gender.append("Female")
Age.append(100)
Product_Category.append("Clothing")
Quantity.append(3)
prices_per_unit.append(1000)

# New Section

In [ ]:
print("The new length of the Transaction_ID is:", len(Transaction_ID))

The new length of the Transaction_ID is: 1001

In [ ]:
# Update the number of observations
num_observations = len(Transaction_ID)

In [ ]:
# Finding the sales amount

# First, define an empty list. You will be adding the amounts to this list
amounts = []

for i in range(num_observations):
   # calculate the sale amount for observation i
   sale_amount = Quantity[i] * prices_per_unit[i]
   # add the sale amount to the list
   amounts.append(sale_amount)

In [ ]:
# Print the first 5 elements to see everything worked well
print("First 5 itmes of Quantity sold is:", Quantity[0:5])
print("First 5 items of prices_per_unit:", prices_per_unit[0:5])
print("First 5 items of amounts:", amounts [0:5])

First 5 itmes of Quantity sold is: [3, 2, 1, 1, 2]
First 5 items of prices_per_unit: [50, 500, 30, 500, 50]
First 5 items of amounts: [150, 1000, 30, 500, 100]

In [ ]:
# Total and average amounts
total_amount = sum(amounts)
total_quantity = sum(Quantity)

average_amount = total_amount/ total_quantity

print("Total amount is:", total_amount)
print("Average amount is:", average_amount)

Total amount is: 459000
Average amount is: 182.35995232419546

In [ ]:
# Find all the unique products
unique_products=[]
for Product_Category_item in Product_Category:
  if Product_Category_item not in unique_products:
    # If the expression holds True, then add the current product_name
    # to the unique_products list
    unique_products.append(Product_Category_item)

In [ ]:
print("There are ", len(unique_products), " unique products:")
for Product_Category_item in unique_products:
    print("Unique products:", Product_Category_item )

There are  3  unique products:
Unique products: Beauty
Unique products: Clothing
Unique products: Electronics

In [ ]:
# Sales amount and number of sold units per product
# Create three empty lists to fill with the number of units sold
units_per_sale_beauty = []
units_per_sale_clothing = []
units_per_sale_electronics = []

# Iterate over each product
for i in range(num_observations):
  Product_Category_item = Product_Category[i]

  # Using an if statement, check if the product_category at index i matches "Beauty"
  if Product_Category_item == "Beauty":
    # If true, append the number of units sold to units_per_sale_beauty
    units_per_sale_beauty.append(Quantity[i])

  if Product_Category_item == "Clothing":
    # If true, append the number of units sold to units_per_sale_clothing
    units_per_sale_clothing.append(Quantity[i])

  elif Product_Category_item == "Electronics":
    # If true, append the number of units sold to units_per_sale_electronics
    units_per_sale_electronics.append(Quantity[i])

In [ ]:
# Print your results
print("The number of units of Beauty sold:", sum(units_per_sale_beauty))
print("The number of units of Clothing:", sum(units_per_sale_clothing))
print("The number of units of ELectronics:", sum(units_per_sale_electronics))

The number of units of Beauty sold: 771
The number of units of Clothing: 897
The number of units of ELectronics: 849